<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:88/ProductsService/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductsService"
                contract="ProductsService.IProductsService" name="BasicHttpBinding_IProductsService" />
            <endpoint address="net.tcp://localhost/ProductsService/Service.svc"
                binding="netTcpBinding"  
                contract="ProductsService.IProductsService" name="NetTcpBinding_IProductsService" />       
        </client>
    </system.serviceModel>
</configuration>